<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
		<div class="bg-info text-center" ng-if="uListCtrl.users.length === 0">No Users</div>
		<div class="list-group" ng-if="uListCtrl.users.length > 0">
			<a class="list-group-item" ng-repeat="user in uListCtrl.users" ng-href="#!/users/profile/{{user.id}}" title="Click To See The User Details">{{user.fullname}} 
			    <button type="button" class="btn btn-info btn-sm pull-right action-user-edit" title="Click To Edit User" ng-click="uListCtrl.goToUpdateUserView($event, user)">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button type="button" class="btn btn-danger btn-sm pull-right action-user-delete" title="Click To Delete User" ng-click="uListCtrl.deleteUser($event, user)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</a>
		</div>
		<br>
		<a class="btn btn-warning" href="#!/users/new" >Create New User</a>

	</div>
</div>