<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
		<div>
			<form id="user-update-form" name="userUpdateForm" ng-submit="updateUser()">
				<h4 class="form-heading text-center">UPDATE USER</h4>
				<div class="form-group">
					<input type="text" name="userName" class="form-control" ng-model="user.userName" ng-required="true">
				</div>

				<div class="form-group">
					<input type="text" name="fullName" class="form-control" ng-model="user.fullName" ng-required="true">
				</div>

				<div class="form-group">
					<input type="text" name="defaultCity" class="form-control" ng-model="user.defaultCity" ng-required="true">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" ng-disabled="userUpdateForm.$invalid || userUpdateForm.$pristine">SAVE</button>
				</div>
			</form>	
		</div>

		<div ng-if="isSubmitted">
		    <div ng-class="{ 'bg-success': isSuccess, 'bg-danger': !isSuccess }">{{message}}</div>
		</div>
	</div>
</div>