<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
		<div id="user-detail-table" class="table-responsive" ng-if="user">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{user.userName}}
					<button type="button" class="btn btn-info btn-sm pull-right action-user-edit" title="Click To Edit User" ng-click="goToUpdateUserView($event, user)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button type="button" class="btn btn-danger btn-sm pull-right action-user-delete" title="Click To Delete User" ng-click="deleteUser(user)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<br>
				</div>
				<table class="table table-hover">
					<tr ng-repeat="prop in userProperties">
						<td>{{prop}}</td>
						<td>{{user[prop]}}</td>
					</tr>
				</table>
			</div>
		</div>
		<a href="#!/users" >See List Of All Users</a>

		<div ng-if="!user" class="bg-danger">{{message}}</div>

		<div ng-if="isSubmitted">
			<div ng-class="{ 'bg-success': isSuccess, 'bg-danger': !isSuccess }">{{message}}</div>
		</div>
	</div>
</div>